{% extends "base-component" %}

{% set name = "profile-header" %}

{% block content %}

  <div class="top-wrapper">
    {% if image is not empty and image.src %}
      {% include "fields-image" with {
        image: image
      } only %}
    {% else %}
      <div class="f--image"><span class="visually-hidden">{{ 'Profile Image' }}</span></div>
    {% endif %}

    <div class="profile-main">
      <div class="profile-main-wrapper">
        {% include "fields-page-title" with {
          title: title
        } only %}
        {% if suffix is not empty %}
          {% include "fields-page-title" with {
            title: suffix
          } only %}
        {% endif %}
        {% include "fields-sub-title" with {
          title: position
        } only %}
      </div>
    </div>
  </div>

  <div class="bottom-wrapper">
    <div class="office-wrapper">
      {% if office is not empty %}
        {% for role in office %}
          {% include "fields-label" with {
            span: role.title
          } only %}

          {% if role.places is not empty %}
            <ul class="places-list">
              {% for place in role.places %}
                <li>{{ place.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="contacts-wrapper">
      {% if contacts.email %}
        {% include "fields-email" with {
          email: contacts.email
        } only %}
      {% endif %}

      {% if contacts.location %}
        {% include "fields-address" with {
          address: contacts.location
        } only %}
      {% endif %}

      {% if contacts.phone %}
        {% include "fields-phone" with {
          phone: contacts.phone
        } only %}
      {% endif %}

      {% if contacts.file is not empty and contacts.file.url and contacts.file.title %}
        <div class="file-field-wrapper">
          {% include "fields-link" with {
            link: contacts.file
          } only %}
        </div>
      {% endif %}

      {% if contacts.links is not empty %}
        <ul class="contact-links">
          {% for link in contacts.links %}
            {% if link.url and link.title %}
              <li>
                {% include "fields-link" with { link: link } only %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    {% if social is not empty %}
      <div class="socials-container">
        <ul class="social-links">
          {% for link in social %}
            <li>
              {% if link.url and link.network == 'twitter' %}
                <a class="twitter" target="_blank" href="{{ link.url }}" rel="nofollow noopener">
                  <svg enable-background="new 0 0 19 15.5" viewBox="0 0 19 15.5" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m19 1.8c-.7.2-1.4.5-2.2.7.7-.5 1.4-1.3 1.7-2.2-.7.4-1.6.7-2.5.9-.7-.7-1.7-1.2-2.9-1.2-2.2 0-3.9 1.7-3.9 3.9 0 .2 0 .7.2.9-3.3-.2-6.2-1.7-8.2-4.1-.1.6-.5 1.3-.5 2 0 1.3.7 2.6 1.7 3.2-.7 0-1.3-.2-1.8-.5 0 2 1.3 3.6 3.1 3.8-.2.2-.5.3-.9.3-.2 0-.5 0-.7 0 .5 1.6 2 2.6 3.6 2.7-1.3 1.1-3 1.7-4.8 1.7-.4 0-.7 0-.9 0 1.7 1.2 3.8 1.7 5.9 1.7 7.2-.1 11.1-6 11.1-11.1 0-.2 0-.5 0-.5.8-.8 1.5-1.4 2-2.2" fill="#00543C" fill-rule="evenodd"/></svg>
                  <span class="visually-hidden">Twitter</span>
                </a>
              {% elseif link.url and link.network == 'linkedin' %}
                <a class="linkedin" target="_blank" href="{{ link.url }}" rel="nofollow noopener">
                  <svg enable-background="new 0 0 19 19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg"><path d="m15.4 0h-11.8c-2 0-3.6 1.6-3.6 3.6v11.8c0 2 1.6 3.6 3.6 3.6h11.8c2 0 3.6-1.6 3.6-3.6v-11.8c0-2-1.6-3.6-3.6-3.6zm-9.6 15.9h-2.8v-8.6h2.8zm-1.5-9.7c-1 0-1.6-.6-1.5-1.5 0-.9.6-1.5 1.6-1.5.9 0 1.5.6 1.5 1.5s-.6 1.5-1.6 1.5zm11.7 9.7h-2.7v-4.6c0-1.2-.5-2-1.5-2-.9 0-1.4.5-1.5 1-.1.2-.1.5-.1.7v5h-2.8c0-7.8 0-8.6 0-8.6h2.8v1.2c.4-.6 1-1.5 2.5-1.5 2 0 3.3 1.2 3.3 3.8z" fill="#00543C"/></svg>
                  <span class="visually-hidden">Linkedin</span>
                </a>
              {% elseif link.url and link.network == 'tiktok' %}
                <a class="tiktok" target="_blank" href="{{ link.url }}" rel="nofollow noopener">
                  <svg height="21" viewBox="0 0 18 21" width="18" xmlns="http://www.w3.org/2000/svg"><path d="m6.38852459 7.72103004c-3.54098361.0751073-6.38852459 3.01931326-6.38852459 6.63948496 0 1.8025751.70819672 3.4549356 1.85901639 4.6416309 1.18032787 1.2317597 2.83278689 1.9978541 4.67704918 1.9978541 3.61475413 0 6.53606553-2.9742489 6.53606553-6.639485v-7.33047208c1.3868853 1.00643777 3.0836066 1.60729614 4.9278689 1.60729614v-3.60515022c-.3540984 0-.6934426-.03004292-1.0327869-.10515021-1.0180328-.22532189-1.9327869-.76609442-2.6114754-1.53218884-.7081967-.78111588-1.1803279-1.80257511-1.2688525-2.92918455v-.46566524h-.9737704-2.59672136v14.360515c0 1.667382-1.34262295 3.0343348-2.99508196 3.0343348-.9737705 0-1.8295082-.4656653-2.37540984-1.2017168-.39836066-.525751-.60491803-1.1716738-.60491803-1.8476394 0-1.6824035 1.34262295-3.0343348 2.99508196-3.0343348.30983607 0 .61967213.0450644.9.1351931v-3.66523602c-.35409836-.04506438-.69344262-.0751073-1.04754098-.06008584" fill="#00543C"/></svg>
                  <span class="visually-hidden">TikTok</span>
                </a>
              {% elseif link.url and link.network == 'cv' %}
                <a class="cv" target="_blank" href="{{ link.url }}" rel="nofollow noopener">
                  <svg height="24" viewBox="0 0 19 24" width="19" xmlns="http://www.w3.org/2000/svg"><path d="m17.309 17.6432727v-16.07781815h-15.70517647v20.30181815h11.37652937v-4.224zm-2.7248235 1.5665455v1.5501818l1.5892941-1.5501818zm4.3297647-19.2098182v18.7505455l-4.7991765 4.6832727h-14.1147647v-23.4338182zm-6.194 12.0687273-1.1914118-3.7407273h-1.92905881l2.24870591 6.5389091h1.7424117l2.2487059-6.5389091h-1.9290588zm-7.80341179-.4712728c0 1.1792728.67170588 1.7072728 1.33670588 1.7072728.5912353 0 .9712353-.2803637 1.1992353-.8858182l.04470588-.1178182 1.70776471.4636364-.038.1309091c-.37441177 1.3167272-1.40264706 2.0432727-2.89470589 2.0432727-1.62617647 0-3.268-1.0341818-3.268-3.3414546 0-1.60909086 1.02264706-3.34036359 3.268-3.34036359 1.52558824 0 2.58847059.73854545 2.91370589 2.02799999l.03352941.1276364-1.72229412.4821818-.04470588-.1189091c-.22576471-.5967273-.61694118-.88581818-1.1992353-.88581818-.665 0-1.33670588.52690908-1.33670588 1.70727268z" fill="#00543c" fill-rule="evenodd"/></svg>
                  <span class="visually-hidden">CV</span>
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="socials-container">
        <span class="visually-hidden">Socials</span>
      </div>
    {% endif %}
  </div>

{% endblock %}
