{#
/**
* @file
* Theme override of a views exposed form.
*
* Available variables:
* - form: A render element representing the form.
*
* @see template_preprocess_views_exposed_form()
*/
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="fields-container">

  {{ form.keyword }}

  <div class="form-item-wrapper">
    <h4>By Category</h4>
    {{ form.field_event_category }}
  </div>

  <div class="form-item-wrapper date-wrapper">
    <h4>By Date</h4>
    <div class="form-group">
    {{ form.field_start_date }}
    <span>to</span>
    {{ form.field_end_date }}
    </div>
  </div>

  <div class="form-item-wrapper">
    <h4>By Location</h4>
    {{ form.field_campus }}
  </div>

  {{ form|without('actions', 'keyword', 'field_school', 'field_event_category', 'field_campus', 'field_start_date', 'field_end_date') }}

</div>
<div class="button-container">
  {{ form.actions.submit }}
  {{ form.actions.reset }}
</div>
