{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'l--layout',
    'l--two-column',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="l--two-column-inner">

  {{ title_prefix }}
  <div class="f--field f--section-title">
    <h2>More <span class="highlight">Events</span></h2>
  </div>
  {{ title_suffix }}

  <aside class="lr--layout-region lr--sidebar">
    {{ exposed }}
  </aside>

  <div class="lr--layout-region lr--main">

    {% if rows -%}
      <div class="cc--component-container cc--events-listing" data-drupal-views-infinite-scroll-content-wrapper>
        {{ rows }}
      </div>
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
    {{ pager }}

  </div>

  </div>
</div>
