{% extends "layout.twig" %}

{% set layout_name = "two-column-reverse" %}

{% block layout_content %}

  <header id="l--main-header">
    {% block header %}

      {% embed "base-region" with { name: "header" } %}

        {% block content %}

          {% include "components-header" %}

        {% endblock %}

      {% endembed %}

    {% endblock %}
  </header>

  <main id="main-content">

    <div class="l--content">

        <div class="above-content">
            {% if loggedIn %}

                {% include "components-admin-tabs" %}

            {% endif %}
        </div>

        <div class="content">

            {% if variant is iterable %}
                {% set variant_processed = variant|join(' ') %}
            {% else %}
                {% set variant_processed = variant %}
            {% endif %}

            <section class="tc--template-container tc--{{ template_name }}{{ (variant_processed) ? (' ' ~ variant_processed) : '' }}">

                <div class="t--template t--{{ template_name }}{{ (variant_processed) ? (' ' ~ variant_processed) : '' }}">

                    <div class="content-top">
                        {% block top %}
                        {% endblock top %}
                    </div>

                    <div class="content-sidebar-main-wrapper">
                      <div class="content-sidebar-main-wrapper-inner">

                        <div class="content-main">
                            {% block content %}
                            {% endblock content %}
                        </div>

                        <aside class="content-sidebar">
                            {% block sidebar %}
                            {% endblock sidebar %}
                        </aside>
                        
                      </div>
                    </div>

                    <div class="content-bottom">
                        {% block bottom %}
                        {% endblock bottom %}
                    </div>

                </div><!-- t--template t--{{ template_name }} -->

            </section><!-- tc--template-container tc--{{ template_name }} -->

        </div>

      </div>

  </main>

  <footer id="l--main-footer">
    {% block footer %}

      {% embed "base-region" with { name: "footer" } %}

        {% block content %}

          {% include "components-footer" %}

        {% endblock %}

      {% endembed %}

    {% endblock %}
  </footer>

{% endblock layout_content %}
