{#
/**
* @file
* Theme override of a views exposed form.
*
* Available variables:
* - form: A render element representing the form.
*
* @see template_preprocess_views_exposed_form()
*/
#}
{{ attach_library('usfca/filter_form') }}

{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="fields-container">

  {{ form.keyword }}

  <div class="form-item-wrapper">
    <h4>By Category</h4>
    {{ form.field_category }}
  </div>

  <div class="form-item-wrapper">
    <h4>By Topic</h4>
    {{ form.field_topics }}
  </div>

  <div class="form-item-wrapper">
    <h4>By Date</h4>
    {{ form.created }}
  </div>

  {{ form|without('actions', 'keyword', 'field_category', 'field_topics', 'publish_on', 'created') }}

</div>
<div class="button-container">
  <div class="submit-wrapper">
    {{ form.actions.submit }}
  </div>
  {% if form.actions.reset | render | trim is not empty %}
  <div class="reset-wrapper">
  {{ form.actions.reset }}
  </div>
  {% endif %}
</div>
