<li class="menu-item {{ item.activeTrail ? 'menu-item--active-trail' : '' }} {{ item.class }}" {% if item.submenu|length %} aria-expanded="false" aria-haspopup="true" {% endif %}>

  {% if item.submenu|length %}
    <div class="utility-button-wrapper">

      <a href="{{ item.href ? item.href : '#'}}">
        {{ item.title|raw }}<span class="offset"></span>
      </a>
      <button type="button" class="utility-button information-for-toggle">
        <svg height="8" viewBox="0 0 12 8" width="12" xmlns="http://www.w3.org/2000/svg"><path d="m1042.84635 67.6884765 4.50871-4.6244374s.43286-.5187496-.11575-1.0922584c-.53027-.5559524-1.06462-.1187146-1.06462-.1187146l-5.69152 5.8329023.00203.00209-.00244.0029261 5.69112 5.8320663s.50704.444344 1.06543-.1182966c.5429-.5450842.11575-1.0935125.11575-1.0935125z" fill="#00543c" fill-rule="evenodd" transform="matrix(0 -1 1 0 -61.689655 1047.689655)"/></svg>
        <div class="visually-hidden">{{ item.title|raw }}</div>
      </button>

  {% else %}

    <a href="{{ item.href }}"{% if item.offsite %} target="_blank" class="offsite"{% endif %}>

      {% if item.label is not empty %}

        <span class="label">{{ item.label }}</span>

      {% endif %}

      {{ item.title }}

    </a>

  {% endif %}

  {% if item.submenu|length %}

    <ul class="submenu" aria-hidden="true">
      {% for subitem in item.submenu %}

        {% include "base-menu-item" with { item: subitem } %}

      {% endfor %}
    </ul>

    </div> <!-- end of utility-button-wrapper -->
  {% endif %}

</li>
